.pink-button {
     background-color: $purple;
     border: none;
     box-shadow: 0 0 0 0.25rem $pink-hot;
     border-radius: 0;
     padding: 0 2rem;

     svg {
          margin-left: 10px;
     }

     &:hover,
     &:active,
     &:focus,
     &.opened {
          background-color: $pink-hot;
          box-shadow: 0 0 0 0.25rem $pink-hot;
     }
}