$purple: #17141f;
$purple-alpha: rgba(31, 21, 48, 0.7);
$purple-primary: #1f1530;
$purple-border:#291e3c;
$orange: #986425;
$orange-dark: #63461f;
$orange-light: #f9c202;
$orange-gradient: linear-gradient(0deg, $orange-light 0%, $orange 100%);
$pink: #a07b8b;
$pink-hot:#fe2b9f;
$green: #5f971e;
$green-dark: #447817;
$green-gradient: linear-gradient(0deg, $green 0%, $green-dark 100%);