@import 'styles/abstract/variables';

.game-tooltip {
     background-color: $purple;
     font-weight: bold;
     padding: 1rem
}

.game {
     position: relative;
     height: 100%;

     &__thumbnail {
          width: 100%;

          &.default {
               background-image: url('../../../assets/default_thumbnail.png');
               background-size: 100%;
               height: 90%;
          }
     }

     &__details {
          position: absolute;
          top: 5px;
          right: 5px;

          &.big {
               right: 15px;
          }

          p {
               color: white;
               margin: 0;
               text-align: right;
          }
     }
}