@import 'styles/abstract/_variables.scss';

.title-bar {
     background-color: $purple;
     color: white;
     border: 2px solid $purple-border;
     border-left: none;
     border-right: none;

     .container {
          display: flex;
          justify-content: space-between;
          padding: 1rem;
     }
}