@import "~bootstrap/scss/bootstrap";
@import "./styles/abstract/variables";
@import "./styles//global//global";

.App {
  text-align: center;
}

.App-container {
  background-color: $purple-primary;
  background-image: url('../assets/background.svg');
  min-height: 160vh;
}